{% extends "base.html" %}

{% block title %}Nouveau ticket - TechDesk{% endblock %}

{% block content %}

<a href="{{ url_for('main.home') }}" class="d-inline-block mt-3 mb-2">&larr; Retour a la liste</a>

<div class="card-custom col-md-6">
    <h2 class="mb-3">Creer un nouveau ticket</h2>

    <form action="{{ url_for('main.nouveau_ticket') }}" method="POST">
        <div class="mb-3">
            <label class="form-label">Titre</label>
            <input type="text" name="titre" class="form-control" required>
        </div>

        <div class="mb-3">
            <label class="form-label">Description</label>
            <textarea name="description" class="form-control" rows="4" required></textarea>
        </div>

        <div class="mb-3">
            <label class="form-label">Categorie</label>
            <select name="categorie" class="form-select">
                <option value="Materiel">Materiel</option>
                <option value="Logiciel">Logiciel</option>
                <option value="Acces">Acces / Permissions</option>
                <option value="Autre">Autre</option>
            </select>
        </div>

        <div class="mb-3">
            <label class="form-label">Priorite</label>
            <select name="priorite" class="form-select">
                <option value="basse">Basse</option>
                <option value="normale" selected>Normale</option>
                <option value="haute">Haute</option>
            </select>
        </div>

        <button type="submit" class="btn btn-primary">Creer le ticket</button>
        <a href="{{ url_for('main.home') }}" class="btn btn-secondary">Annuler</a>
    </form>
</div>

{% endblock %}